/* @import url(https://fonts.googleapis.com/css?family=Open+Sans:400italic); */
@import url(https://fonts.googleapis.com/css?family=Roboto);

body: {
    font-family: 'Roboto', sans-serif;
}

table { 
    table-layout:fixed;
    font-family: 'Roboto', sans-serif;
    border-collapse: collapse;
    width: 100%;
    /* padding-left: 10mm; */
}

table tr:nth-child(even) {
    background-color: #D8D8D8;
    /* padding-left: 10mm; */
}

th, td {
    text-align: left
}

th {
    background-color: #4CAF50;
    color: white;
    font-size: 15px;
    vertical-align: middle;
    padding-left: 10mm;
}

#pricing {
    background-color: #4CAF50;
    color: white;
    font-size: 15px;
    font-family: 'Roboto', sans-serif;
    vertical-align: middle;
    text-align: center;
    padding-left: 10mm;
}

.merged {
    text-align: center;
}

.buttons {
    background-color: #4CAF50;
    /* padding-left: 10mm; */
}

td {
    font-size: 5;
}
.sticky-wrapper {
    margin-bottom: 0;
    border-bottom: 0;
    padding-bottom: 0;
}

